---
layout: default
title: CS4641 - Schedule
---

<meta http-equiv="refresh" content="0; url=summer2019berlin.html" />

<p>This page should redirect to the current semester schedule.  If it doesn't, click on the current semester below, which should be the first one listed.</p>

<p><a href="summer2019berlin.html">Spring 2019</a></p>
