---
layout: default
title: CS4641  - Schedule
---

# Summer 2019 Berlin

- Lectures: Mondays, Wednesdays and Thursdays, 13:00 - 14:30

## Lecture Schedule

  Topics link to slides, where available.  Topics noted with (Recitation) are covered in recitation that week, not in lecture. You're responsible for everything listed on this schedule, some of which may not be covered in lecture or recitation.


- LfD means [Learning from Data](http://amlbook.com/)
- AIML means [An Introduction to Machine Learning](https://www.springer.com/us/book/9783319639123)
- I2ML means [Introduction to Machine Learning](https://mitpress.mit.edu/books/introduction-machine-learning-third-edition)
- RL means [Reinforcement Learning: An Introduction](http://incompleteideas.net/book/the-book.html)
- ISL means [An Introduction to Statistical Learning](https://www-bcf.usc.edu/~gareth/ISL/)
- PRML means [Pattern Recognition and Machine Learning](https://www.micr.com/en-us/research/people/cmbishop/#!prml-book)
- ESL means [The Elemets of Statistical Learning](https://web.stanford.edu/~hastie/ElemStatLearn/)
- NND means [Neural Network Design](http://hagan.okstate.edu/nnd.html)
- MML means [Mathematics for Machine Learning](https://mml-book.com/)
- VMLS means [Introduction to Applied Linear Algebra -- Vectors, Matrices and Least Squares](http://vmls.stanford.edu/)
- PSCS means [Probability and Statistics for Computer Science](https://www.spr.com/us/book/9783319644097#otherversion=9783319644103)


<div class="table-responsive">
  <table class="table table-bordered table-hover">

    <tr class="table-header active">
      <th>Date</th>
      <th>Topics</th>
      <th>Reading and Resources</th>
      <th>Reminders</th>
    </tr>
    {% for row in table %}
    {% if "internal_header" in row %}
    <tr class="active"><td colspan="4">{{row["internal_header"]}}</td></tr>
    {% else %}
    <tr>
      <td>{{row["date"]}}</td>
      <td>
        {% for item in row["topics"][:-1] %}
        {{(item|markdown).replace("<p>","").replace("</p>","")}}<br/>
        {% endfor %}
        {{(row["topics"][-1]|markdown).replace("<p>","").replace("</p>","")}}
      </td>
      <td>
        {% for item in row["materials"][:-1] %}
        {{(item|markdown).replace("<p>","").replace("</p>","")}}<br/>
        {% endfor %}
        {{(row["materials"][-1]|markdown).replace("<p>","").replace("</p>","")}}
      </td>
      <td>
        {% for item in row["reminders"][:-1] %}
        {{(item|markdown).replace("<p>","").replace("</p>","")}}<br/>
        {% endfor %}
        {{(row["reminders"][-1]|markdown).replace("<p>","").replace("</p>","")}}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>
